.App {
    min-width: 320px;
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    background-color: #28023D;
    color: white;
  
    @media screen and (min-width:1280px)  {
        justify-content: center;
        align-content: center;
    }
}